<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cinecoder" version="3.33.55.49272" targetFramework="net452" />
  <package id="Cinecoder.Plugin.GpuCodecs" version="2.24.7.20044" targetFramework="net452" />
  <package id="NUnit" version="3.12.0" targetFramework="net452" />
</packages>