[submodule "external/OpenCL"]
	path = external/OpenCL
	url = https://github.com/KhronosGroup/OpenCL-Headers.git
[submodule "external/GLEW"]
	path = external/GLEW
	url = https://github.com/edoren/glew.git
[submodule "external/opencl_dyn_load"]
	path = external/opencl_dyn_load
	url = https://github.com/Cinegy/opencl_dyn_load
[submodule "external/cuda_drvapi_dyn_load"]
	path = external/cuda_drvapi_dyn_load
	url = https://github.com/Cinegy/cuda_drvapi_dyn_load
[submodule "external/CUDART"]
	path = external/CUDART
	url = https://gitlab.com/nvidia/headers/cuda-individual/cudart.git
[submodule "external/metal-cpp"]
	path = external/metal-cpp
	url = https://github.com/bkaradzic/metal-cpp.git
