<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cinecoder" version="Cinecoder.4.12.22.52715-alpha" targetFramework="native" />
  <package id="CUDAConvertLib" version="1.0.0.14" targetFramework="native" />
  <package id="Cinecoder.Plugin.GpuCodecs" version="2.24.8.20045" targetFramework="native" />
  <package id="Cinecoder.Plugin.Multiplexers" version="2.0.10" targetFramework="net452" />
</packages>