<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cinecoder" version="3.33.8.34741" targetFramework="native" />
  <package id="CUDAConvertLib" version="1.0.0.11" targetFramework="native" />
  <package id="Cinecoder.Plugin.GpuCodecs" version="2.22.14.20020" targetFramework="native" />
  <package id="Cinecoder.Plugin.Multiplexers" version="1.1.39" targetFramework="native" />
</packages>