<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cinecoder" version="3.33.21.47311" targetFramework="native" />
  <package id="CUDAConvertLib" version="1.0.0.13" targetFramework="native" />
  <package id="Cinecoder.Plugin.GpuCodecs" version="2.23.1.20023" targetFramework="native" />
  <package id="Cinecoder.Plugin.Multiplexers" version="1.2.2" targetFramework="native" />
</packages>