<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cinecoder" version="4.24.3.29776-alpha" targetFramework="native" />
  <package id="Cinecoder.Plugin.GpuCodecs" version="2.24.11.24048" targetFramework="native" />
  <package id="Cinecoder.Plugin.Multiplexers" version="2.0.15" targetFramework="native" />
  <package id="NUnit" version="3.12.0" targetFramework="native" />
</packages>