<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cinecoder" version="3.32.16.21927" targetFramework="native" />
  <package id="Cinecoder.Plugin.GpuCodecs" version="2.22.10.20016" targetFramework="native" />
  <package id="Cinecoder.Plugin.Multiplexers" version="1.1.9" targetFramework="native" />
  <package id="CUDAConvertLib" version="1.0.0.6" targetFramework="native" />
  <package id="OpenAL.Soft" version="1.19.1" targetFramework="native" />
</packages>