<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cinecoder" version="3.32.7.28621" targetFramework="native" />
  <package id="Cinecoder.Plugin.GpuCodecs" version="2.22.3.20002" targetFramework="native" />
  <package id="Cinecoder.Plugin.Multiplexers" version="1.0.161.169" targetFramework="native" />
</packages>