<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cinecoder" version="3.33.29.41258" targetFramework="native" />
  <package id="Cinecoder.Plugin.GpuCodecs" version="2.23.5.20032" targetFramework="native" />
  <package id="Cinecoder.Plugin.Multiplexers" version="1.2.5" targetFramework="native" />
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn" version="1.8.0" targetFramework="native" />
  <package id="NUnit" version="3.12.0" targetFramework="native" />
</packages>