<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Cinecoder" version="3.32.15.21933" targetFramework="native" />
  <package id="Cinecoder.Plugin.GpuCodecs" version="2.22.10.20016" targetFramework="native" />
  <package id="Cinecoder.Plugin.Multiplexers" version="1.1.9" targetFramework="native" />
  <package id="Microsoft.googletest.v140.windesktop.msvcstl.static.rt-dyn" version="1.8.0" targetFramework="native" />
</packages>